
body {
	height: 100%;
}

#cpt {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

#cpt > div:first-child, #cpt > div:last-child {
	flex-grow: 2;
	flex-shrink: 1;
}

#cpt > section {
	flex-grow: 1;
	flex-shrink: 2;

	display: flex;
	flex-direction: row;
}

#cpt > section > div:first-child, #cpt > section > div:last-child {
	flex-grow: 2;
	flex-shrink: 1;
}

#cpt > section > div:first-child {
	border-right: 2px solid var(--s-blue-color);
}

#cpt > section > span {
	flex-grow: 1;
	flex-shrink: 2;
	max-width: 750pt;
	padding: 1rem 0.5rem;
}

#caption > p {
	margin-left: 1rem;
	border-left: 0.25rem solid var(--s-blue-color);
	padding-left: 0.5rem;
}
